html
  link(rel="stylesheet" href="./css/style.css")
  body#css3d
    .content
      #webGL
      #modal
        div.modal
          button.modal_close X
          .modal_content
            h2 写真タイトル
            p この写真はxxxx年xx月xx日に撮影された写真です。


    script(type="text/javascript" src="./css3d.js")